<div class="main__form">
  <mat-card class="main__form__card">
    <div class="logo__box">
      <h1>MuyunApp</h1>
    </div>
    <mat-card-header>
      <div class="container">
        <h3 class="main__text">¿Olvidaste tu contraseña?</h3>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form name="registrarUserForm" #registrarUserForm="ngForm">
        <div
          class="row align-items-center container__input"
          style="margin-top: 10px"
        >
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Correo</mat-label>
            <input
              matInput
              name="email"
              #email="ngModel"
              [(ngModel)]="username_email"
              (input)="username_email = username_email.toLowerCase()"
              ngvemail
              required
            />
            <!-- formControlName="username_email" -->
            <mat-error>
              <app-validators-messages [controlVar]="email" labelName="Correo">
              </app-validators-messages>
            </mat-error>
          </mat-form-field>
        </div>
        <div
          class="row align-items-center container__btn"
          style="margin-top: 30px"
        >
          <button mat-button class="btn__back" (click)="backToAuth()">
            Cancelar
          </button>
          <button
            mat-button
            class="btn__enter"
            (click)="submit()"
            [disabled]="validationRegister(registrarUserForm)"
          >
            Siguiente
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="text__footer">
  <p>
    Copyright © {{ currentYear }} MUYUNAPP S.A.C. Todos los derechos
    reservados.
  </p>
</div>
