<div class="main__form">
  <mat-card class="main__form__card__reset">
    <div class="logo__box">
      <h1>MuyunApp</h1>
    </div>
    <mat-card-header>
      <div class="container">
        <h3 class="main__text">
          {{ forcePassword ? "Actualizar" : "Restablecer" }} Contraseña
        </h3>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div
        class="row align-items-center container__input"
        style="margin-top: 10px"
      >
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Nueva contraseña</mat-label>
          <input
            matInput autocomplete="off"
            name="password"
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="password"
            required
          />
          <!-- formControlName="username_email" -->
          <mat-icon style="cursor: pointer" matSuffix (click)="hide = !hide">
            {{ hide ? "visibility_off" : "visibility" }}
          </mat-icon>
        </mat-form-field>
      </div>
      <div
        class="row align-items-center container__input"
        style="margin-top: 10px"
      >
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Vuelva a escribir la contraseña</mat-label>
          <input
            matInput autocomplete="off"
            name="repeatPassword"
            [(ngModel)]="repeatPassword"
            [type]="hide2 ? 'password' : 'text'"
            required
          />
          <mat-icon
            style="cursor: pointer"
            matSuffix
            (click)="hide2 = !hide2"
          >
            {{ hide2 ? "visibility_off" : "visibility" }}
          </mat-icon>
          <!-- formControlName="username_email" -->
        </mat-form-field>
      </div>
      <div
        class="row align-items-center container__btn"
        style="margin-top: 30px"
      >
        <button mat-button class="btn__back" (click)="backToAuth()">
          Cancelar
        </button>
        <button mat-button class="btn__enter" (click)="changePassword()">
          Enviar
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="text__footer">
  <p>
    Copyright © {{ currentYear }} MUYUNAPP S.A.C. Todos los derechos
    reservados.
  </p>
</div>
