.action__button {
  width: 200px;
}
.file-input {
  display: none;
}
textarea {
  min-height: 200px;
}
p {
  font-weight: bold;
  word-break: break-word;
}
// Spinner Loading
.root__container__spinner{
  margin: 5.5px 0!important;
}
.mat-spinner-color-components::ng-deep circle{
  stroke: #b9b9b9 !important;
}
.text__spinner {
  margin: 20px 0 0 0!important;
  color: #b9b9b9;
}
.mat-spinner-color-components-send::ng-deep circle{
  stroke: #fff !important;
  stroke-width: 15%!important;
}
.btn_style {
  background: #0d344f;
}
.container-img{
  display: flex;
  p {
    margin-bottom: 0;
    color: #0d344f;
  }
}
