.main__correct{
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 40px 0 0;
  text-align: center;
  .icon-display {
    transform: scale(2);
 }
}
.text__success{
  margin: 24px 0 50px;
  font-size: 16px!important;
}
.container__select, .container__btn{
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: space-around;
}
.btn__generate{
  width: 170px;
  height: 44px;
  background-color: #F23136;
  border: 1px solid #EF575B;
  color: #FFFFFF;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 18px!important;
}
